

<div class="modal-header bg-success">
  <h4 class="modal-title center" id="exampleModalLabel">{{user}}</h4>
</div>
<div class="modal-body">
  {% if errors %}
  {% for key, values in errors.items %}
     {% for e in values %}
     <div class="alert alert-danger">
         <strong>{{ e }}</strong>
     </div>
     {% endfor %}
 {% endfor %}
{% endif %}

    <form  class=" col-lg-12 col-md-10  mx-auto " method="post" action="{% url  'NewFoto_view' u  a %}"  enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
          <div>
              <input type="file" id="image" name="image" class="form-control"  placeholder="Seleciona imagen" autofocus>
          </div>
      </div>
            <div  class="col-6">
              <button class="btn btn-md btn-primary btn-block" type="submit" value="Registro">Guardar</button>
              <input type="hidden" name="areaPertenece" value="{{a}}" />
              <input type="hidden" name="subidaPor" value="{{u}}" />
            </div>
    </form>

  </div>
<div class="modal-footer bg-success">
  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
</div>
